<%-include('parts/top.ejs')  %>

<br>
<br>
<br>
<br>
<div class="container">
    <form method="POST" >
       
        <div class="form-outline mb-4">
          <input name="email" type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
      
       
        <div class="form-outline mb-4">
          <input name="psw" type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="psw">Password</label>
        </div>  
      
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

       
      </form>
</div>


<%-include('parts/bottom.ejs')  %>